<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="openItem">
    <link rel="stylesheet" th:href="@{../resources/css/openItem.css}"/>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $(".rating-link-open").click(function () {
                $(".chosen-overview").removeClass("chosen-overview");
                var rating = $(this);
                rating.addClass("chosen-overview");
                $(".overviews-open").load("/item/" + [[${product.id}]] + "/overviews?rating=" + rating.getAttribute("id"));
            });

            var photos = [[${product.photos}]];
            var currentPhoto = 0;

            $(".left").click(function () {
                if (currentPhoto > 0 && photos.length !== 0)
                    $(this).parent().children("a").children("img").attr("src", photos[--currentPhoto]);
            });

            $(".right").click(function () {
                if (currentPhoto < photos.length - 1 && photos.length !== 0)
                    $(this).parent().children("a").children("img").attr("src", photos[++currentPhoto]);
            });

        });
        /*]]>*/
    </script>
    <!--/*@thymesVar id="product" type="com.store.database.model.Product"*/-->
    <div class="openItem">
        <div class="images-div">
            <div class="big-image-open-div">
                <div class="left more-photos"></div>
                <div class="right more-photos"></div>
                <a href="">
                    <img src="#"
                         th:src="${product.photos.size()!=0?product.photos[0]:'/resources/image/Xiaomi_Logo.png'}"/>
                </a>
            </div>
            <div class="small-images-open-div">
                <!--less or equals 5-->
                <a href="" th:each="photo : ${product.photos}"><img src="#" th:src="${photo}"/></a>
            </div>
        </div>
        <div class="right-side-open-item">
            <div class="name-open-item" th:text="${product.name}">something name</div>
            <div class="catalog-open-item">
                <a href="" class="catalog-link-open-item" th:text="${product.category.name}">Phone</a>
            </div>
            <div class="averange-rating-div"><a href="#overviews"
                                                th:utext="${T(com.store.other.RatingConvert).convert(product.rating)}">&#9733;&#9733;&#9734;&#9734;&#9734;</a><a
                    href="#overviews" th:text="${product.overviews.size()}">100</a></div>
            <div class="sales-div">
                <span class="sales">продано:</span>
                <span class="count" th:text="${product.sold.size()}">149</span>
            </div>
            <div class="left-div">
                <span class="left">осталость:</span>
                <span class="count" th:text="${product.count}">123</span>
            </div>
            <div class="cost-open" th:text="${product.cost+'$'}">123$</div>
            <div class="bag-buying-div" sec:authorize="isAuthenticated()">
                <button class="bag-button">В корзину</button>
                <div></div>
                <form method="post" th:action="@{/buy}">
                    <span th:text="${product.id}" hidden="hidden">-1</span>
                    <button class="buy-button">Купить</button>
                </form>
            </div>
            <div class="bag-buying-div" sec:authorize="isAnonymous()">
                <button class="bag-button" disabled="disabled">В корзину</button>
                <div></div>
                <button class="buy-button" disabled="disabled">Купить</button>
            </div>
        </div>
        <div class="about-open-item" th:text="${product.description}"> много много много текста много много много текста
            много много много текста много
            много много текста много много много текста много много много текста много много много текста много много
            много текста
        </div>
        <div class="overview-header">
            <ul>
                <li><a id="0" class="rating-link-open chosen-overview">Все</a></li>
                <li><a id="1" class="rating-link-open">&#9733;&#9734;&#9734;&#9734;&#9734;</a>
                </li>
                <li><a id="2" class="rating-link-open">&#9733;&#9733;&#9734;&#9734;&#9734;</a></li>
                <li><a id="3" class="rating-link-open">&#9733;&#9733;&#9733;&#9734;&#9734;</a></li>
                <li><a id="4" class="rating-link-open">&#9733;&#9733;&#9733;&#9733;&#9734;</a></li>
                <li><a id="5" class="rating-link-open">&#9733;&#9733;&#9733;&#9733;&#9733;</a></li>
            </ul>
        </div>
        <div class="overviews-open">
            <a name="overviews"></a>
            <ul>
                <li>sakdjslkfslkjfkdjfdk</li>
                <li>
                    <div class="nex-overviews">
                        <a href="">1</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--<div class="next-overviews-open"></div>-->
    </div>
</div>
</html>
