
.ul-category>li {
    list-style-type: none;
    margin: 20px 0px;
}

.catalog>ul {
    margin: 0;
    padding: 0;
}

.catalog {
    min-width: 600px;
}
.test {
    min-width: 600px;
    max-width: 800px;
    margin: 100%;
}

