<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="openCategoryFragment">
    <!--/*@thymesVar id="category" type="com.store.database.model.Category"*/-->
    <div class="open-size">
        <div class="open-body">
            <div class="category-info" th:text="${category.info}">
                Автомобиль это такая чтывло ло ыло ывлао ыаыодв адл ыаодылво аыдло ваывло ылво адлыоафдл адфылфоыд л
                ыдвлао
            </div>
            <div class="items-body">
                <ul>
                    <li th:each="item : ${category.products}">
                        <div th:include="catalog/item :: itemFragment" th:with="product = ${item}"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>
