<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div id="account-detail">
    <div id="left-side-of-page">
        <form method="post">
            Place for image load
        </form>
    </div>
    <div id="right-side-of-page">
        <!--/*@thymesVar id="user" type="com.store.database.model.User"*/-->
        <form method="post" action="#" th:action="@{/updateAccount}" id="registration-form" th:object="${user}">
            <table>
                <tr>
                    <td><label for="username">Username: </label></td>
                    <td><input type="text" id="username" name="username" th:field="*{username}" disabled="disabled"/>
                    </td>
                    <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
                </tr>
                <tr>
                    <td><label for="password">Password: </label></td>
                    <td><input type="password" id="password" name="username" th:field="*{password}"
                               disabled="disabled"/></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
                </tr>
                <tr>
                    <td><label for="mail">Email: </label></td>
                    <td><input type="email" id="mail" name="mail" th:field="*{mail}"/></td>
                    <td th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></td>
                </tr>
                <tr>
                    <td><label for="phone">Phone: </label></td>
                    <td><input type="text" id="phone" name="phone" th:field="*{phone}"/></td>
                    <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></td>
                </tr>
                <tr>
                    <td><label for="name">Name: </label></td>
                    <td><input type="text" id="name" name="username" th:field="*{name}"/></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
                </tr>
                <tr>
                    <td><label for="lastName">LastName: </label></td>
                    <td><input type="text" id="lastName" name="lastName" th:field="*{lastName}"/></td>
                    <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></td>
                </tr>
                <tr>
                    <td><label for="age">Age: </label></td>
                    <td><input type="date" value="01.01.2010" id="age" name="age" th:field="*{age}"/></td>
                    <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></td>
                </tr>
                <tr>
                    <td><label for="country">Country: </label></td>
                    <td><input type="text" id="country" name="country" th:field="*{country}"/></td>
                    <td th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></td>
                </tr>
                <tr>
                    <td><label for="address">Index: </label></td>
                    <td><input type="text" id="address" name="address" th:field="*{address}"/></td>
                    <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></td>
                </tr>
                <tr>
                    <td><label for="livingAddress">Address: </label></td>
                    <td><input type="text" id="livingAddress" name="livingAddress" th:field="*{livingAddress}"/></td>
                    <td th:if="${#fields.hasErrors('livingAddress')}" th:errors="*{livingAddress}"></td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Sign up</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>