<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headerFragment">
    <link rel="stylesheet" th:href="@{../resources/css/header.css}"/>
    <div class="header">
        <div class="logo">My webstore</div>
        <div class="manu">
            <ul class="menu-ul">
                <li>
                    <a th:href="@{/}">Домой</a>
                </li>
                <li>
                    <a th:href="@{/catalog}">Каталог</a>
                </li>
                <li>
                    <a th:href="@{/search}">Поиск</a>
                </li>
            </ul>

        </div>
        <div class="log-in-out-div">
            <a th:href="@{/login}" sec:authorize="isAnonymous()">Вход</a>
            <a th:href="@{/registration}" sec:authorize="isAnonymous()">Регистрация</a>
            <a th:href="@{/account}" sec:authorize="isAuthenticated()">Аккаунт</a>
            <a th:href="@{/logout}" sec:authorize="isAuthenticated()">Выход</a>
        </div>
    </div>
</div>
</html>